table, td, th {  
    border: 1px solid green;
    text-align: left;
  }
  
  table {
  
    width: 50%;
  }
  
  th, td {
    padding: 15px;
  }
  th {
    background-color: #04AA6D;
    color: white;
  }